@charset "utf-8";
/* BODY */
body{
	width:100%;
	height:70%;
    font-family: 'Roboto Condensed', sans-serif;
    background: url(../img/fond5.jpg);
    background-attachment: fixed;
    margin-top: 2%;
    margin-bottom: 5%;
} 

/* Container */
.container {
    height: auto;
    margin-top: 1%;
}

.bg {
    background-color: rgba(3, 16, 75, 0.747);
}

/* NAVBAR */
.navbar .collapse .navbar-nav .dropdown-menu {
    margin: -0.05% 0 0 11%;
}

.navbar .collapse .navbar-nav .espace-haut {
    margin: 1% 0 0 0;
}
/* Taille du jumbotron */
.jumbo .jumbotron {
    width: 100%;
    height: 36em;
    background-color: rgba(3, 55, 75, 0.747);
    margin-bottom: 3%;
}


/* Taille du SLIDER */
#demo {
    width: 80%;
    height: 45%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: -15%;

}

.container-fluid .jumbo .jumbotron .container .row #a {
    margin-left: 30%;
}

/* Taille des images */
.container .row .carousel-item img {
    width: 90.5%;
    height: 60%;
    margin-left: 5%;
    margin-right: 20%;
    margin-bottom: 70%;
}

/* Taille images entête */
.container-fluid .row {
    margin-top: 5%;
}

.container-fluid .row img {
    width: 100%;
    height: 36em;
}

/* STYLE FORMULAIRE CONTACT */

#contact{
	width:100%;
	height:100%;
    font-family: 'Roboto Condensed', sans-serif;
    background: url(../img/fond5.jpg);
    background-attachment: fixed;
    background:#333333;
    color:#f4f4f4;
    margin-top: 4%;
}


.titre1,.titre2,.titre3 {
	margin:7.5% 0 3.5% 0;
	font-family: 'Patua One', cursive;
	text-transform: uppercase;
	letter-spacing:1%;
}

p{
	margin:0 0 2.5%;
	font-size:1.8%;
    line-height:1.6em;
    font-family: 'Space Mono', monospace;
}
a{
	color:#26a5d3;
}
a:hover,a:focus{
	text-decoration:none;
	color:#26a5d3;
}

textarea.form-control{
    height:10%;
}

/* Titres des pages */
.titre {
    font-family: 'Rubik', sans-serif;
    margin: 0 auto;
}

p.text-info.centre {
    margin-left: 15%;
}

/* contact.php */
section .contact-section .container {
    margin-bottom: 6%;
}

.centrer {
    padding-left: 13%;
}

.container2 .card {
    margin-top: 3%;
    margin-bottom: 3%;
}

.card .row {
    height: auto;
}
/* Formulaire d'inscription */
.container .row form {
    padding-bottom: 10%;
}
