@charset "utf-8";

/* body {
    
} */
/* Taille du jumbotron */
.jumbo .jumbotron {
    width: 100%;
    height: 600px;
    background-color: rgba(3, 55, 75, 0.747);
    margin-bottom: 3%;
}


/* Taille du SLIDER */
#demo {
    width: 80%;
    height: 45%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: -15%;

}

.container-fluid .jumbo .jumbotron .container .row #a {
    margin-left: 30%;
}

/* Taille des images */
.container .row .carousel-item img {
    width: 90.5%;
    height: 45%;
    margin-left: 5%;
    margin-right: 20%;
    margin-bottom: 70%;
}

/* Taille images entête */
.container-fluid .row {
    margin-top: 5%;
}

.container-fluid .row img {
    width: 1950px;
    height: 500px;
}

/* TITRES DES PAGES */

.container-fluid .row h1 {
    padding-left: 40%;
}

/* BODY */
body{
	width:100%;
	height:70%;
    font-family: 'Roboto Condensed', sans-serif;
    background: url(../img/fond5.jpg);
    background-attachment: fixed;
    margin-top: -0.3%;
}

.container {
    height: auto;
    margin-top: 2%;
    /* margin-bottom: 6%; */
}

.container1 {
    background-color: rgba(3, 16, 75, 0.747);
    height: 10%;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 6%;
}

.container2 {
    background-color: rgba(3, 16, 75, 0.747);
    height: 10%;
    padding-top: 2%;
}

.container3 {
    margin-left: -1%;
    margin-right: 200px;
    height: 50%;
}

.container4 {
    padding-left: 20%;
}

.descrip {
    padding-left: 0.8%;
}

.container1 .row .card {
    margin-bottom: 6%;
}

.container1 .row .card .card-body {
    padding-top: -2%;
}

/* STYLE FORMULAIRE CONTACT */

#contact{
	width:100%;
	height:100%;
    font-family: 'Roboto Condensed', sans-serif;
    background: url(../img/fond5.jpg);
    background-attachment: fixed;
    background:#333333;
    color:#f4f4f4;
    margin-top: 4%;
}


.titre1,.titre2,.titre3 {
	margin:75px 0 35px 0;
	font-family: 'Patua One', cursive;
	text-transform: uppercase;
	letter-spacing:1px;
}

p{
	margin:0 0 25px;
	font-size:18px;
    line-height:1.6em;
    font-family: 'Space Mono', monospace;
}
a{
	color:#26a5d3;
}
a:hover,a:focus{
	text-decoration:none;
	color:#26a5d3;
}

textarea.form-control{
    height:100px;
}

.titre {
    font-family: 'Rubik', sans-serif;
}

p.text-info {
    background: rgb(236, 233, 13);
    opacity: 0.70;
    padding: 1%;
}

p.text-info.centre {
    margin-left: 15%;
}

/* contact.php */
section .contact-section .container {
    margin-bottom: 6%;
}

/* profil.php */
.marge-bas {
    margin-bottom: 2.9%;
}

/* Formulaire d'inscription */
.container .row form {
    padding-bottom: 10%;
}