@charset "utf-8";
/* NAVBAR */
.navbar .collapse .navbar-nav .espace-haut {
    margin: 0.5% 0 0 0;
}

/* Taille du jumbotron */
.jumbo .jumbotron {
    width: 100%;
    height: 30%;
    background: url('../img/fond3.jpg') no-repeat center center;
    margin: 2% 0 2% 0;
}


/* Taille du SLIDER */
#demo {
    width: 100%;
    height: 45%;
    margin: 5% 20% -30% 20%;
}

.container-fluid .jumbo .jumbotron .container .row #a {
    margin:  -20% 0 0 40%;
}

/* Caroussel images */
.container .row .carousel-item img {
    width: 100%;
    padding:  10% 0 0 0;
}

.container .row .col-sm-12 #demo {
    width: 90%;
    margin: -8% 0 0 0;
    padding: 5% 0 -8% 0;
}

#span {
    margin: 20% 0.3% -35% 0.3%;
}

#li {
    margin: 60% 0.3% -55% 0.3%;
}

/* TITRES DES PAGES */

.container h1 {
    padding: 0 10% 0 38.5%;
}

/* BODY */
body {
    background: url(../img/fond5.jpg);
    background-attachment: fixed;
    width: 100%;
    height: auto;
}
.container {
    display: block;
    margin: 5% 0 0 11%;
}

.container-jumbotron {
    display: block;
    margin: 0 0 0 25%;
}

.fond_container {
    background:  rgba(64, 12, 112, 0.568);
    margin: 0 0 0 20%;
}

.container1 {
    margin-top: 0 auto;
}

.container2 {
    margin-top: 2%;
}

.container2 form {
    padding: 2%;
}

.container2 form div textarea.form-control {
    padding-left: 5%;
}

.container2 .row div {
    padding-left: 2%;
}

.container2 .row .col-sm-12 .categorie {
    padding-top: 12%;
}

.container2 .row .col-sm-12 {
    display: inline-block;
}

.container2 .card {
    margin-top: 8%;
    margin-bottom: 8%;
}

.container3 {
    margin-left: -1%;
    margin-right: 200px;
    height: 50%;
}

.container4 {
    padding-left: 20%;
}

.descrip {
    padding-left: 0.8%;
}


h1, h2 {
    font-family: 'Rubik', sans-serif;
}

p {
    font-family: 'Space Mono', monospace;
}

/* Barres de progression */

.container2 .row .col-sm-12 .progress .progress-bar {
    margin-left: -5%;
}

/* Formulaire */
/* - compétences.php */
.container4 form .form-row {
   margin-top: 3%;
   margin-right: 15%;
   margin-left: -10%;
}
.container4 form .form-row .form-group .mgbutton {
    margin-top: 18%;
}

/* - expériences.php */
.container .table-responsive {
    padding: 0 0 0 25%;
}

.container .fond_container {
    margin: 5% 0 25% 12%;
}

.container .fond_container .col-auto {
    padding: 2% 5% 2% 5%;
}

.fond_container .col-auto .form-row .col-lg-12 .form-group {
    padding: 0 20% 0 0.3%;
}

/* - loisirs.php */
.container .marge-gauche {
    padding-left: 25%;
    margin-top: 2%;
}
.container .form-row .col-md-6 button {
    margin-top: 9%;
}

/* - realisation.php */
.container .fond_container form #marges2 {
    margin-top: 2%;
}

/* - titres.php */
.container .form-row form {
    padding-left: 35%;
    margin-top: -5%;
}

/* - profil.php */
.centrer {
    padding-left: 13%;
}

.marges .row {
    background: rgba(64, 12, 112, 0.568);
    margin-left: 0.1%;
    padding: 2%;
    width: 100%;
}

/* - modif_competence.php */
.container .padding {
    padding: 2% 0 2% 10%;
}

/* - modif_experience */
.fond_container form .form-group .padding {
    padding : 0 4% 0 0;
}

.fond_container form .form-group .button {
    padding : 0 0 0 1.5%;
}

.container .fond_container .col-auto .form-group .descrip {
    margin-left: -2%;
}

/* - modif_formation.php */
.container .fond_container form .form-group .row .col-lg-4 {
    margin: 0 0.6% 0 -0.6%;
}

 #marges {
     padding: 0 2% 0 2%;
 }

 .container .fond_container form .button2 {
    padding: 0 1% 0 1%;
 }

 /* - modif_loisir */
 .container .fond_container form {
     padding: 2% 2% 2% 2%;
 }