
/* Taille du jumbotron */
.container-fluid .jumbo .jumbotron{
    width: 60%;
    height: 750px;
}


/* Taille du SLIDER */
#demo{
    width: 70%;
    height: 45%;
    margin-left: 10%;
    margin-right: 10%;

}

.container-fluid .jumbo .jumbotron .container .row #a{
    margin-left: 20%;
}

/* Taille des images */
.container .row .carousel-item img {
    width: 130%;
    margin-right: 60%;
    margin-bottom: 500px;
}

