@charset "utf-8";
/* BODY */
body {
    background: url(../img/fond5.jpg);
    background-attachment: fixed;
    margin-top: 100px;
    margin-bottom: 100px;
    color: white;
}

.container {
    padding: 2%;
}

.fond-container {
    background:  rgba(64, 12, 112, 0.568);
}

/* button des pages */
.button-competences {
    margin-top: 19%;
}

.button-loisirs {
    margin-top: 9%;
}

/* button des pages de modification */
.marge-exp {
    margin-left: 18%;
}

.marge-form {
   margin-left: 31%;
}

.marge-loisir {
    margin: 1% 0 2% 35.5%;
}

.marge-real {
    margin: 0 0 3% 18.5%;
}

.marge-titre {
    margin: 1% 0 3% 34.5%;
}

/* NAVBAR */
.navbar .collapse .navbar-nav .espace-haut {
    margin: 0.5% 0 0 0;
}

/* Taille du jumbotron */
.jumbo .jumbotron {
    width: 100%;
    height: 30%;
    background: url('../img/fond3.jpg') no-repeat center center;
    margin: 2% 0 2% 0;
}


/* Taille du SLIDER */
#demo {
    width: 100%;
    height: 45%;
    margin: 5% 20% -30% 20%;
}

.container-fluid .jumbo .jumbotron .container .row #a {
    margin:  -20% 0 0 40%;
}

/* Caroussel images */
.container .row .carousel-item img {
    width: 100%;
    padding:  10% 0 0 0;
}

.container .row .col-sm-12 #demo {
    width: 90%;
    margin: -8% 0 0 0;
    padding: 5% 0 -8% 0;
}

#span {
    margin: 20% 0.3% -35% 0.3%;
}

#li {
    margin: 60% 0.3% -55% 0.3%;
}

